<h1 style="text-align: center;">LEGO</h1>
<p>{{lego |json}}</p>
<div class="row col-sm-12">
    <div class="center">
        <div class="card" style="width: 18rem;" *ngFor="let l of lego">
            <img src=`https:\\localhost:3000\images\{{l.imageSrc}}` class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{l.Nome}}</h5>
              <a href="#" class="btn btn-primary">Vai ai dettagli</a>
            </div>
          </div>
    </div>
</div>